body {
  font-family: Arial, sans-serif;
  background-color: #b6e0f1;
}

.general {
  text-align: center;
  font-size: 26px;
  color: #0e11d3;
}

.search-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 600px;
}

.input-size {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
  border: 2px solid #1c7ed6;
  border-radius: 4px;
}

.button-search {
  padding: 10px 20px;
  border: 2px solid #1c7ed6;
  border-radius: 4px;
  background-color:  #0e11d3;
  color: #f8f404;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.photo-card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(28, 3, 247, 0.5);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.photo-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.info-item {
  margin-bottom: 5px;
}

.load-more {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  border: 2px solid #1c7ed6;
  border-radius: 4px;
  background-color:  #0e11d3;
  color:  #f8f404;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}